body {
    background: linear-gradient(to right, #0000CD 65%, #9ACD32 35%); /* Latar belakang gradien dua warna */
}

.container-fluid {
    color: white; /* Warna teks putih */
    padding: 50px; /* Tambahkan padding untuk ruang */
}

h1 {
    color: #FF8A65; /* Warna teks untuk judul */
    font-size: 3rem; /* Ukuran huruf untuk judul */
    font-weight: bold; /* Menebalkan huruf */
}

p {
    color: #FFFFFF; /* Warna teks untuk paragraf */
    font-size: 1.25rem; /* Ukuran huruf untuk paragraf */
}

footer {
    background-color: #0000CD; /* Warna footer */
    color: white; /* Warna teks footer */
} 